*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../Imagens/paozinho.jpg);
    background-image: cover;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.popup_Informacao_Conf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo_Popup_Info{
    width: 983px;
    height: 777px;
    background-color: #F9C267;
    border-radius: 20px;
    border: none;
    outline: none;
    stroke: none;

}

.img_capiva_posi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 175px;
}

.img_capiva{
    width: 172px;
    height: 174px;
    border-radius: 111.5px;
    border: none;
    outline: none;
    stroke: none;
}

.label_Info_Confi_posi{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 225px;
}

.label_Info_Confi{
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

.label_Email_Enviado_posi{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 275px;
}

.label_Email_Enviado{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.btn_Voltar_posi{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 350px;
}

.btn_Voltar{
    text-decoration: none;
    outline: none;
    stroke: none;
    color: black;
    font-size: 16px;
    text-align: center;
    background-color:#FEEFD4;
    width: 294px;
    height: 20px;
    border-radius: 20px;
}

.btn_Voltar:hover{
    background-color: #f8dfaf;
    transition: all 0.5s;
}

