*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../Imagens/paozinho.jpg);
    background-image: cover;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.Popup_Cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fundo_Popup{
    width: 983px;
    height: 777px;
    border-radius: 20px;
    background-color: #F9C267;
}

.img_posi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_capiva{
    width: 172px;
    height: 174px;
    border-radius: 111.5px;
    border: none;
    outline: none;
    margin: 20px;
    padding: 20px;
}


.label_Cadastro_Concluido_posi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    top: 100px;
}

.label_Cadastro_Concluido{
    text-decoration: none;
    font-size: 50px;
}

.btn_Login_posi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
}

.btn_Login{
    background-color: #FEEFD4;
    border: none;
    outline: none;
    stroke: none;
    width: 294px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 15px;
}

.btn_Login:hover{
    background-color: #f8dfaf;
    transition: all 0.5s;
}