*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Imagens/paozinho.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login{
    background-color: #DBCE66;
    width: 555px;
    height: 600px;
    border-radius: 100px;
    margin: 20px;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 174px;
    border-radius: 111.5px;
    stroke: black;
    margin: 50px auto;
}

.btn_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 178px;
    height: 38px;
    margin: 10px;
    background-color:#DEB468;
    border-radius: 15px;
    cursor: pointer;
}

.username{
    display: flex;
    justify-content: center;
}

.input_usuario{
    background-color: #DEB468;
    position: relative;
    border: none;
    outline: none;
    width: 55%;
    height: 40px;
    stroke: black;
    padding: 20px;
    border-radius: 35px;
    margin-bottom: 25px;
    border-color: black;
}

.label_usuario{
    position: relative;
    right: -130px;
    margin-bottom: 10px;
}

.user_pass{
    display: flex;
    justify-content: center;
}

.input_senha{
    background-color: #DEB468;
    position: relative;
    border: none;
    outline: none;
    width: 55%;
    height: 40px;
    stroke: black;
    padding: 20px;
    border-radius: 35px;
    margin-bottom: 25px;
    border-color: black;
}

.label_senha{
    position: relative;
    right: -130px;
    margin-bottom: 10px;
}

.esqueceu_senha{
    display: flex;
    justify-content: center;
    text-decoration: none;
}